<% if !user_signed_in? %>
<div class="jumbotron">
  <h1>We all love kittens</h1>
  <p>But I <i>just don't know</i> where to find them on the <b>internet</b>.</p>
  <p>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= pin.description %></td>
        <td><%= time_ago_in_words pin.created_at %></td>
        <td><%= pin.user.try( :email ) %></td>
        <% if current_user == pin.user %>
          <td><%= link_to 'Show', pin %></td>
          <td><%= link_to 'Edit', edit_pin_path(pin) %></td>
          <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td></td><td></td><td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= link_to 'New Pin', new_pin_path, class: "btn btn-primary btn-lg" %>
<% end %>